.aboutpara {
  /* The image used */
  background-image: url("../img/aboutme.png");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	

}

	@media only screen and (max-width: 767px) {
  .aboutpara {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("../img/mobile/aboutme.jpg");
  }
}


.portfoliopara {
  /* The image used */
  background-image: url("../img/portfolio.png");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	}

		@media only screen and (max-width: 767px) {
  .portfoliopara {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("../img/mobile/myportfolio.jpg");
  }
}

.contactpara {
  /* The image used */
  background-image: url("../img/contactme.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}

	
		@media only screen and (max-width: 767px) {
  .contactpara {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("../img/mobile/contactme.jpg");
  }
}


	
		@media only screen and (max-width: 767px) {
  header.masthead {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("../img/mobile/bg.jpg");
  }
}




